<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" dir="ltr">
<th:block th:replace="fragments/styles"/>
<body class="layout-sticky-subnav layout-default ">
<th:block th:replace="fragments/preloader"/>
<div class="mdk-header-layout js-mdk-header-layout">
<th:block th:replace="fragments/navbar"/>
<meta charset="utf-8">
            <!-- Header Layout Content -->
            <div class="mdk-header-layout__content page-content ">

                <div class="page-section">
                    <div class="container page__container">

                        <div class="flex search-form form-control-rounded search-form--light mb-16pt"
                             style="min-width: 200px;">
                            <input type="text"
                                   class="form-control"
                                   placeholder="Search articles"
                                   id="searchSample02">
                            <button class="btn pr-3"
                                    type="button"><i class="material-icons">search</i></button>
                        </div>
                        <div class="mb-32pt d-flex align-items-center">
                            <small class="text-70 text-headings text-uppercase mr-3">Displaying</small>
                            <div class="dropdown ml-auto">
                                <a href=""
                                   data-toggle="dropdown"
                                   class="dropdown-toggle text-70">All Topics</a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href=""
                                       class="dropdown-item active">All Topics</a>
                                    <a href=""
                                       class="dropdown-item">General</a>
                                    <a href=""
                                       class="dropdown-item">Lessons</a>
                                    <a href=""
                                       class="dropdown-item">Customer Support</a>
                                </div>
                            </div>
                        </div>

                        <div class="row card-group-row">
                            <div class="col-md-6 card-group-row__col">

                                <div class="card card--elevated card-group-row__card">
                                    <div class="card-body d-flex">
                                        <span class="icon-holder icon-holder--outline-muted rounded-circle d-inline-flex mr-16pt">
                                            <i class="material-icons">question_answer</i>
                                        </span>
                                        <div class="flex">
                                            <a class="card-title mb-4pt">사이트를 만들게 된 목적에 대해 궁금합니다.</a>
                                            <p class="text-70 mb-0">저희 사이트의 시작은 코딩을 할 때 개발자들이 보안적 요소를 간과하고 있다는 것에서 시작했습니다. 따라서 저희의 궁극적인 목적은 개발자에게 보안적 기능을 체화시키는 것입니다.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6 card-group-row__col">

                                <div class="card card--elevated card-group-row__card">
                                    <div class="card-body d-flex">
                                        <span class="icon-holder icon-holder--outline-muted rounded-circle d-inline-flex mr-16pt">
                                            <i class="material-icons">question_answer</i>
                                        </span>
                                        <div class="flex">
                                            <a class="card-title mb-4pt">스테이지와 시나리오의 차이에 대해 궁금합니다.</a>
                                            <p class="text-70 mb-0">시나리오가 스테이지 보다 큰 범주라고 이해하시면 될 것 같습니다.<br>시나리오 안에 스테이지가 존재하고, 스테이지에서는 기능과 보안에 대한 조건들이 명시되어 있습니다. 이 조건들을 모두 충족해야지만 다음 스테이지로 넘어갈 수 있습니다. 모든 스테이지가 끝나고 나면 하나의 시나리오가 끝났다고 할 수 있습니다.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6 card-group-row__col">

                                <div class="card card--elevated card-group-row__card">
                                    <div class="card-body d-flex">
                                        <span class="icon-holder icon-holder--outline-muted rounded-circle d-inline-flex mr-16pt">
                                            <i class="material-icons">question_answer</i>
                                        </span>
                                        <div class="flex">
                                            <a class="card-title mb-4pt">스테이지에 다시 도전할 수 있나요?</a>
                                            <p class="text-70 mb-0">네. 얼마든지 다시 도전할 수 있습니다.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6 card-group-row__col">

                                <div class="card card--elevated card-group-row__card">
                                    <div class="card-body d-flex">
                                        <span class="icon-holder icon-holder--outline-muted rounded-circle d-inline-flex mr-16pt">
                                            <i class="material-icons">question_answer</i>
                                        </span>
                                        <div class="flex">
                                            <a class="card-title mb-4pt">만약 문의사항이 있는 경우 어디로 연락하나요?</a>
                                            <p class="text-70 mb-0">dps@gmail.com으로 연락주시면 됩니다.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <ul class="pagination justify-content-start pagination-xsm m-0">
                            <li class="page-item disabled">
                                <a class="page-link"
                                   href="#"
                                   aria-label="Previous">
                                    <span aria-hidden="true"
                                          class="material-icons">chevron_left</span>
                                    <span>Prev</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link"
                                   href="#"
                                   aria-label="Page 1">
                                    <span>1</span>
                                </a>
                            <li class="page-item">
                                <a class="page-link"
                                   href="#"
                                   aria-label="Next">
                                    <span>Next</span>
                                    <span aria-hidden="true"
                                          class="material-icons">chevron_right</span>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>

            </div>
            <!-- // END Header Layout Content -->

               <th:block th:replace="fragments/footer"/>
</div>
<th:block th:replace="fragments/drawer"/>
<th:block th:replace="fragments/scripts"/>
</body>
</html>