<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" dir="ltr">
<th:block th:replace="fragments/styles"/>
<body class="layout-sticky-subnav layout-default ">
<th:block th:replace="fragments/preloader"/>
<div class="mdk-header-layout js-mdk-header-layout">
<th:block th:replace="fragments/navbar"/>
<meta charset="utf-8">

        <!-- Header Layout -->
        <div class="mdk-header-layout js-mdk-header-layout">

            <!-- Header -->

            <div id="header"
                 class="mdk-header mdk-header--bg-primary bg-dark js-mdk-header mb-0"
                 data-effects="parallax-background waterfall"
                 data-fixed
                 data-condenses>
                <div class="mdk-header__bg">
                    <div class="mdk-header__bg-front"
                         style="background-image: url(../../public/images/1280_work-station-straight-on-view.jpg);"></div>
                </div>
                <div class="mdk-header__content justify-content-center">

                    <div class="navbar navbar-expand navbar-dark-pickled-bluewood bg-transparent will-fade-background"
                         id="default-navbar"
                         data-primary>

                        <!-- Navbar toggler -->
                    </div>

                    <div class="hero container page__container text-center text-md-left py-112pt">
                        <h1 class="text-white text-shadow">공지사항</h1>
                    </div>
                </div>
            </div>

            <!-- // END Header -->

            <!-- Header Layout Content -->
            <div class="mdk-header-layout__content page-content ">
                <div class="page-section">
                    <div class="container page__container">

                        <div class="row">
                            <div class="col-lg-10">

                                <div class="page-separator">
                                    <div class="page-separator__text">Notice</div>
                                </div>

                                <div class="mb-24pt">

                            <div class="card">
                            <div class="card-header">
                                <div class="row align-items-center"
                                     style="white-space: nowrap;">
                                    <div class="col-lg d-flex flex-wrap align-items-center">
                                     <div class="col-lg-auto">
                                            <div class="w-lg-auto">Index</div>
		         					 </div>
                                        <div class="ml-lg-auto dropdown">
                                            <a href="#"
                                               class="btn btn-link dropdown-toggle text-70"
                                               data-toggle="dropdown">Newest</a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href=""
                                                   class="dropdown-item active">Newest</a>
                                                <a href=""
                                                   class="dropdown-item">Unanswered</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="list-group list-group-flush">

                                <div class="list-group-item p-3">
                                    <div class="row align-items-start">
                                        <div class="col-md-3 mb-8pt mb-md-0">
                                            <div class="media align-items-center">
                                                <div class="media-left mr-12pt">
                                                </div>
                                                <div class="d-flex flex-column media-body media-middle">
                                                    <div class="card-title">1</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col mb-8pt mb-md-0">
                                            <p class="mb-8pt">
                                            	<a href="discussion.html" class="text-body"><strong>개인정보처리방침 사전안내</strong></a></p>
                                        </div>
                                        <div class="media-right mr-12pt">2021-05-31</div>
                                    </div>
                                </div>

                               <div class="list-group-item p-3">
                                    <div class="row align-items-start">
                                        <div class="col-md-3 mb-8pt mb-md-0">
                                            <div class="media align-items-center">
                                                <div class="media-left mr-12pt">
                                                </div>
                                                <div class="d-flex flex-column media-body media-middle">
                                                    <div class="card-title">2</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col mb-8pt mb-md-0">
                                            <p class="mb-8pt">
                                            	<a href="discussion.html" class="text-body"><strong>새로운 시나리오에 대한 안내</strong></a></p>
                                        </div>
                                        <div class="media-right mr-12pt">2021-05-31</div>
                                    </div>
                                </div>

                            </div>

                                <div class="card-footer">

                                <ul class="pagination justify-content-start pagination-xsm m-0">
                                    <li class="page-item disabled">
                                        <a class="page-link"
                                           href="#"
                                           aria-label="Previous">
                                            <span aria-hidden="true"
                                                  class="material-icons">chevron_left</span>
                                            <span>Prev</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="#"
                                           aria-label="Page 1">
                                            <span>1</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="#"
                                           aria-label="Next">
                                            <span>Next</span>
                                            <span aria-hidden="true"
                                                  class="material-icons">chevron_right</span>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!-- // END Header Layout Content -->

    <th:block th:replace="fragments/footer"/>
</div>
<th:block th:replace="fragments/drawer"/>
<th:block th:replace="fragments/scripts"/>


        <script>
            (function() {
                'use strict';
                var headerNode = document.querySelector('.mdk-header')
                var layoutNode = document.querySelector('.mdk-header-layout')
                var componentNode = layoutNode ? layoutNode : headerNode
                componentNode.addEventListener('domfactory-component-upgraded', function() {
                    headerNode.mdkHeader.eventTarget.addEventListener('scroll', function() {
                        var progress = headerNode.mdkHeader.getScrollState().progress
                        var navbarNode = headerNode.querySelector('#default-navbar')
                        navbarNode.classList.toggle('bg-transparent', progress <= 0.2)
                    })
                })
            })()
        </script>

    </body>

</html>