<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" dir="ltr">
<th:block th:replace="fragments/styles"/>
<body class="layout-sticky-subnav layout-default ">
<th:block th:replace="fragments/preloader"/>
<div class="mdk-header-layout js-mdk-header-layout">
<th:block th:replace="fragments/navbar"/>
<meta charset="utf-8">
            <!-- Header Layout Content -->
            <div class="mdk-header-layout__content page-content ">

                <div class="container page__container">
                    <div class="page-section">

                        <div class="row">
                            <div class="col-md-8">

                                <h1 class="h2 measure-lead-max mb-2">개인보호처리방침사전안내</h1>
                                <p class="text-muted d-flex align-items-center mb-lg-32pt">
                                    <a href="notice.html"
                                       class="mr-3">Back to Community</a>
                                    <small class>2020-05-31</small>
                                </p>

                                <div class="card card-body">
                                    <div class="d-flex">
                                        <div class="flex">
                                            <h5>개인보호처리방침사전안내</h5>
                                            <div class="page-separator"></div>
                                            <p>안녕하세요 DPS입니다.
                                            <br>DPS 홈페이지를 이용해주시는 사용자 여러분께 감사의 말씀 드리며, 개인정보처리방침 시행에 관해 안내 말씀드립니다.
                                            <br>저희는 현재 사용자 여러분의 메일주소를 수집중에 있으며, 이는 개인의 구별을 위함에 따른 것임을 알립니다.
                                            <br>
                                            <br>감사합니다.</p>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- // END Header Layout Content -->

	<th:block th:replace="fragments/footer"/>
</div>
	<script th:src="@{/public/vendor/Chart.min.js}"></script>
	<script th:src="@{/public/js/chartreport_ad.js}"></script>
	<script th:src="@{/public/js/chartjs.js}"></script>
<th:block th:replace="fragments/drawer"/>
<th:block th:replace="fragments/scripts"/>
    </body>

</html>