<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" dir="ltr">

<th:block th:replace="fragments/styles"/>
<style>
    .custom-control-label:before,
    .custom-control-label:after {
        display: none;
    }
</style>


<body class="layout-sticky-subnav layout-default ">

<th:block th:replace="fragments/preloader"/>

<div class="mdk-header-layout js-mdk-header-layout">

    <th:block th:replace="fragments/navbar"/>

    <!-- Header Layout Content -->
    <div class="mdk-header-layout__content page-content ">

        <div class="navbar navbar-list navbar-light bg-white border-bottom-2 border-bottom navbar-expand-sm"
             style="white-space: nowrap;">
            <div class="container page__container">
                <nav class="nav navbar-nav">
                    <div class="nav-item navbar-list__item">
                        <a th:href="|/scenarios/${scenario.subTitle}|" class="nav-link h-auto">
                            <i class="material-icons icon--left">keyboard_backspace</i> Back to Scenario </a>
                    </div>
                    <div class="nav-item navbar-list__item">
                        <div class="d-flex align-items-center flex-nowrap">
                            <div class="flex">
                                <a th:href="|/scenarios/${scenario.subTitle}|" class="card-title text-body mb-0"
                                   th:text="${scenario.title}">시나리오 제목</a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <div class="bg-primary pb-lg-64pt py-32pt">
            <div class="container page__container">
                <nav class="course-nav">
                    <th:block th:each="stageInfo : ${scenario.stageList}">
                        <th:block th:if="${stageInfo.no} < ${stage.no}">
                            <a th:href="|/scenarios/${scenario.subTitle}/stages/${stageInfo.no}|" data-toggle="tooltip" data-placement="bottom" th:data-title="${stageInfo.title}" data-original-title="" title="">
                                <span class="material-icons" th:if="${stageInfo.no} < ${stage.no}">done</span>
                            </a>
                        </th:block>
                        <th:block th:if="${stageInfo.no} == ${stage.no}">
                            <a th:href="|/scenarios/${scenario.subTitle}/stages/${stageInfo.no}|" data-toggle="tooltip" data-placement="bottom" th:data-title="${stageInfo.title}" data-original-title="" title="">
                                <span class="material-icons" th:if="${stageInfo.no} == ${stage.no}">account_circle</span>
                            </a>
                        </th:block>
                        <th:block th:if="${stageInfo.no} > ${stage.no}">
                            <a th:href="|/scenarios/${scenario.subTitle}/stages/${stageInfo.no}|" data-toggle="tooltip" data-placement="bottom" th:data-title="${stageInfo.title}" data-original-title="" title="">
                                <span class="material-icons" th:if="${stageInfo.no} > ${stage.no}">fullscreen</span>
                            </a>
                        </th:block>
                    </th:block>
                </nav>

                <h1 class="text-white" th:text="${stage.title}">스테이지 제목</h1>
                <p class="lead text-white-50 measure-hero-lead mb-24pt">아래의 요구사항에 맞춰 페이지를 제작하고 제출해주세요.</p>

                <form method="post" th:action="|/scenarios/${scenario.subTitle}/stages/${stage.no}/solve|">
                    <div class="was-validated">
                        <div class="form-row">
                            <div class="col-12 col-md-6 mb-3">
                                <label class="form-label" for="targetUrl">Your Site URL</label>
                                <input type="text" class="form-control" id="targetUrl" name="targetUrl" placeholder="http://dps.test.com:2021/board/" required>
                                <div class="valid-feedback">Looks good!</div>
                            </div>
                            <div class="col-12 col-md-4 mb-3">
                                <label class="form-label" for="targetExtension">Your Site extension</label>
                                <input type="text" class="form-control" id="targetExtension" name="targetExtension" placeholder=".php / .jsp / .do" required>
                                <div class="valid-feedback">Looks good!</div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-outline-white mb-16pt mb-sm-0 mr-sm-16pt">Submit</button>
                </form>

            </div>
        </div>

        <div class="page-section bg-alt">
            <div class="container page__container">
                <div class="page-separator">
                    <div class="page-separator__text">주의사항</div>
                </div>
                <div class="">
                    <p>※ 수행 결과에 표기된 any 태그는 실제로 존재하는 것이 아닙니다. 임의의 태그로 대체하여 사용하세요.</p>
                    <p>※ 결과는 Redirect 시켜서 보여주면 안됩니다. 페이지 내에서 보여주세요.</p>
                    <p>※ 제출 시 채점이 수행되며, 채점 기록은 삭제할 수 없습니다.</p>
                    <p>※ 채점 통과 시에만 다음 스테이지로 이동할 수 있습니다.</p>
                    <p>※ 채점 통과 여부와 상관 없이 해당 스테이지는 언제든 재시도할 수 있습니다.</p>
                </div>
            </div>
        </div>

        <div class="page-section bg-alt" th:each="subject : ${stage.subjectList}">
            <div class="container page__container">
                <div class="page-separator">
                    <div class="page-separator__text" th:text="${subject.title}">회원가입</div>
                </div>
                <div class="row mb-0">
                    <div class="col-lg-7">
                        <div class="card mb-lg-0">
                            <div class="card-header d-flex align-items-center">
                                <strong class="flex">요구사항</strong>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled list-todo">
                                    <li th:each="request : ${subject.requestList}">
                                        <div class="custom-control custom-checkbox" style="padding-left: 1rem;">
                                            <label class="custom-control-label" th:text="${request.content}"></label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5" th:with="group=${subject.group}">
                        <div class="page-separator">
                            <div class="page-separator__text" th:text="|입력 데이터 [${group.type}]|">입력 데이터 [POST]</div>
                        </div>
                        <ul class="list-unstyled">
                            <li class="d-flex align-items-center" th:each="parameter : ${group.parameterList}">
                                <span class="material-icons text-50 mr-8pt">chevron_right</span>
                                <span class="text-70" th:text="|${parameter.name} : ${parameter.value}">아이디: id</span>
                            </li>
                        </ul>
                        </br>
                        <div class="page-separator">
                            <div class="page-separator__text">수행 결과</div>
                        </div>
                        <ul class="list-unstyled">
                            <li class="d-flex align-items-center" th:each="result : ${subject.resultList}">
                                <span class="material-icons text-50 mr-8pt">chevron_right</span>
                                <span class="text-70" th:text="${result.content}">&lt;any id='result'&gt;[회원가입 성공 여부]&lt;/any&gt;</span>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="page-section bg-alt  border-bottom-2"></div>

        <div class="page-section border-bottom-2"></div>

        <!--
        추후 확장 가능 기능
        <div class="page-section border-bottom-2">
            <div class="container page__container">
                <div class="page-separator">
                    <div class="page-separator__text">Student Feedback</div>
                </div>
                <div class="row mb-32pt">
                    <div class="col-md-3 mb-32pt mb-md-0">
                        <div class="display-1">4.7</div>
                        <div class="rating rating-24">
                            <span class="rating__item"><span class="material-icons">star</span></span>
                            <span class="rating__item"><span class="material-icons">star</span></span>
                            <span class="rating__item"><span class="material-icons">star</span></span>
                            <span class="rating__item"><span class="material-icons">star</span></span>
                            <span class="rating__item"><span class="material-icons">star_border</span></span>
                        </div>
                        <p class="text-muted mb-0">20 ratings</p>
                    </div>
                    <div class="col-md-9">

                        <div class="row align-items-center mb-8pt"
                             data-toggle="tooltip"
                             data-title="75% rated 5/5"
                             data-placement="top">
                            <div class="col-md col-sm-6">
                                <div class="progress"
                                     style="height: 8px;">
                                    <div class="progress-bar bg-secondary"
                                         role="progressbar"
                                         aria-valuenow="75"
                                         style="width: 75%"
                                         aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-md-auto col-sm-6 d-none d-sm-flex align-items-center">
                                <div class="rating">
                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center mb-8pt"
                             data-toggle="tooltip"
                             data-title="16% rated 4/5"
                             data-placement="top">
                            <div class="col-md col-sm-6">
                                <div class="progress"
                                     style="height: 8px;">
                                    <div class="progress-bar bg-secondary"
                                         role="progressbar"
                                         aria-valuenow="16"
                                         style="width: 16%"
                                         aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-md-auto col-sm-6 d-none d-sm-flex align-items-center">
                                <div class="rating">
                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                    <span class="rating__item"><span class="material-icons">star_border</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center mb-8pt"
                             data-toggle="tooltip"
                             data-title="12% rated 3/5"
                             data-placement="top">
                            <div class="col-md col-sm-6">
                                <div class="progress"
                                     style="height: 8px;">
                                    <div class="progress-bar bg-secondary"
                                         role="progressbar"
                                         aria-valuenow="12"
                                         style="width: 12%"
                                         aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-md-auto col-sm-6 d-none d-sm-flex align-items-center">
                                <div class="rating">
                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                    <span class="rating__item"><span class="material-icons">star_border</span></span>
                                    <span class="rating__item"><span class="material-icons">star_border</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center mb-8pt"
                             data-toggle="tooltip"
                             data-title="9% rated 2/5"
                             data-placement="top">
                            <div class="col-md col-sm-6">
                                <div class="progress"
                                     style="height: 8px;">
                                    <div class="progress-bar bg-secondary"
                                         role="progressbar"
                                         aria-valuenow="9"
                                         style="width: 9%"
                                         aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-md-auto col-sm-6 d-none d-sm-flex align-items-center">
                                <div class="rating">
                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                    <span class="rating__item"><span class="material-icons">star_border</span></span>
                                    <span class="rating__item"><span class="material-icons">star_border</span></span>
                                    <span class="rating__item"><span class="material-icons">star_border</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center mb-8pt"
                             data-toggle="tooltip"
                             data-title="0% rated 0/5"
                             data-placement="top">
                            <div class="col-md col-sm-6">
                                <div class="progress"
                                     style="height: 8px;">
                                    <div class="progress-bar bg-secondary"
                                         role="progressbar"
                                         aria-valuenow="0"
                                         aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-md-auto col-sm-6 d-none d-sm-flex align-items-center">
                                <div class="rating">
                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                    <span class="rating__item"><span class="material-icons">star_border</span></span>
                                    <span class="rating__item"><span class="material-icons">star_border</span></span>
                                    <span class="rating__item"><span class="material-icons">star_border</span></span>
                                    <span class="rating__item"><span class="material-icons">star_border</span></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="pb-16pt mb-16pt border-bottom row">
                    <div class="col-md-3 mb-16pt mb-md-0">
                        <div class="d-flex">
                            <a href="student-profile.html"
                               class="avatar avatar-sm mr-12pt">
                                &lt;!&ndash; <img src="LB" alt="avatar" class="avatar-img rounded-circle"> &ndash;&gt;
                                <span class="avatar-title rounded-circle">LB</span>
                            </a>
                            <div class="flex">
                                <p class="small text-muted m-0">2 days ago</p>
                                <a href="student-profile.html"
                                   class="card-title">Laza Bogdan</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="rating mb-8pt">
                            <span class="rating__item"><span class="material-icons">star</span></span>
                            <span class="rating__item"><span class="material-icons">star</span></span>
                            <span class="rating__item"><span class="material-icons">star</span></span>
                            <span class="rating__item"><span class="material-icons">star</span></span>
                            <span class="rating__item"><span class="material-icons">star_border</span></span>
                        </div>
                        <p class="text-70 mb-0">A wonderful course on how to start. Eddie beautifully conveys all
                            essentials of a becoming a good Angular developer. Very glad to have taken this course.
                            Thank you Eddie Bryan.</p>
                    </div>
                </div>

                <div class="pb-16pt mb-16pt border-bottom row">
                    <div class="col-md-3 mb-16pt mb-md-0">
                        <div class="d-flex">
                            <a href="student-profile.html"
                               class="avatar avatar-sm mr-12pt">
                                &lt;!&ndash; <img src="UK" alt="avatar" class="avatar-img rounded-circle"> &ndash;&gt;
                                <span class="avatar-title rounded-circle">UK</span>
                            </a>
                            <div class="flex">
                                <p class="small text-muted m-0">2 days ago</p>
                                <a href="student-profile.html"
                                   class="card-title">Umberto Klass</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="rating mb-8pt">
                            <span class="rating__item"><span class="material-icons">star</span></span>
                            <span class="rating__item"><span class="material-icons">star</span></span>
                            <span class="rating__item"><span class="material-icons">star</span></span>
                            <span class="rating__item"><span class="material-icons">star</span></span>
                            <span class="rating__item"><span class="material-icons">star_border</span></span>
                        </div>
                        <p class="text-70 mb-0">This course is absolutely amazing, Bryan goes* out of his way to really
                            expl*ain things clearly I couldn&#39;t be happier, so glad I made this purchase!</p>
                    </div>
                </div>

                <div class="pb-16pt mb-24pt row">
                    <div class="col-md-3 mb-16pt mb-md-0">
                        <div class="d-flex">
                            <a href="student-profile.html"
                               class="avatar avatar-sm mr-12pt">
                                &lt;!&ndash; <img src="AD" alt="avatar" class="avatar-img rounded-circle"> &ndash;&gt;
                                <span class="avatar-title rounded-circle">AD</span>
                            </a>
                            <div class="flex">
                                <p class="small text-muted m-0">2 days ago</p>
                                <a href="student-profile.html"
                                   class="card-title">Adrian Demian</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="rating mb-8pt">
                            <span class="rating__item"><span class="material-icons">star</span></span>
                            <span class="rating__item"><span class="material-icons">star</span></span>
                            <span class="rating__item"><span class="material-icons">star</span></span>
                            <span class="rating__item"><span class="material-icons">star</span></span>
                            <span class="rating__item"><span class="material-icons">star_border</span></span>
                        </div>
                        <p class="text-70 mb-0">This course is absolutely amazing, Bryan goes* out of his way to really
                            expl*ain things clearly I couldn&#39;t be happier, so glad I made this purchase!</p>
                    </div>
                </div>

            </div>

        </div>
        -->

    </div>
    <!-- // END Header Layout Content -->


    <th:block th:replace="fragments/footer"/>

</div>



<th:block th:replace="fragments/scripts"/>

</body>

</html>