<div class="mdk-drawer js-mdk-drawer" id="default-drawer" >
  <div class="mdk-drawer__content">
    <div class="sidebar sidebar-dark-pickled-bluewood sidebar" data-perfect-scrollbar>


      <!-- Sidebar Content -->
      <a href="index.html" class="sidebar-brand ">
                        <span class="avatar avatar-xl sidebar-brand-icon h-auto">
                            <span class="avatar-title rounded bg-primary">
                                <img src="../public/images/illustration/student/128/white.svg" class="img-fluid" alt="logo" />
                            </span>
                        </span>
        <span>DPS</span>
      </a>

      <ul class="sidebar-menu">

        <li class="sidebar-menu-item">
          <a class="sidebar-menu-button"
             href="index.html">
            <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">home</span>
            <span class="sidebar-menu-text">Home</span>
          </a>
        </li>
        <li class="sidebar-menu-item">
          <a class="sidebar-menu-button"
             href="index.html">
            <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">home</span>
            <span class="sidebar-menu-text">공지사항</span>
          </a>
        </li>
        <li class="sidebar-menu-item">
          <a class="sidebar-menu-button"
             href="index.html">
            <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">home</span>
            <span class="sidebar-menu-text">FAQ / QNA</span>
          </a>
        </li>
      </ul>


      <div class="sidebar-heading">시나리오</div>
      <ul class="sidebar-menu">

        <li class="sidebar-menu-item">
          <a class="sidebar-menu-button"
             href="index.html">
            <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">local_library</span>
            <span class="sidebar-menu-text">Web</span>
          </a>
        </li>

        <li class="sidebar-menu-item">
          <a class="sidebar-menu-button"
             href="index.html">
            <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">local_library</span>
            <span class="sidebar-menu-text">System</span>
          </a>
        </li>

        <li class="sidebar-menu-item">
          <a class="sidebar-menu-button"
             href="index.html">
            <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">local_library</span>
            <span class="sidebar-menu-text">Android</span>
          </a>
        </li>

        <li class="sidebar-menu-item">
          <a class="sidebar-menu-button"
             href="index.html">
            <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">local_library</span>
            <span class="sidebar-menu-text">IOS</span>
          </a>
        </li>

      </ul>


      <div class="sidebar-heading">계정</div>
      <ul class="sidebar-menu">

        <li class="sidebar-menu-item">
          <a class="sidebar-menu-button"
             href="index.html">
            <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">account_box</span>
            <span class="sidebar-menu-text">프로필</span>
          </a>
        </li>
        <li class="sidebar-menu-item">
          <a class="sidebar-menu-button"
             href="index.html">
            <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">account_box</span>
            <span class="sidebar-menu-text">로그아웃</span>
          </a>
        </li>
      </ul>
      <!-- // END Sidebar Content -->

    </div>
  </div>
</div>