<div class="bg-white border-top-2 mt-auto">
    <div class="container page__container page-section d-flex flex-column">
        <p class="text-70 brand mb-24pt">
            <img class="brand-icon"
                 th:src="@{/public/images/logo/black-70@2x.png}"
                 width="30"
                 alt="DPS"> DPS
        </p>
        <p class="measure-lead-max text-50 small mr-8pt">
            DPS는 웹 시큐어 프로그래밍 학습 플랫폼이다.
            오늘날, 사이버 보안의 중요성이 부각됨에 따라 국가는 소프트웨어 개발보안 가이드를 배포하여 개발자들이 안전한 소프트웨어를 개발하도록 제시하고 있다.
            하지만 이런 조치에도 불구하고 많은 개발자들이 시큐어 프로그래밍을 제대로 수행하지 못하고 있는 것이 현실이다.
            DPS는 개발자들의 시큐어 프로그래밍 습관화를 목표로, 개발자들이 본인의 개발 과정에서 발생하는 다양한 취약점을 인지하고 이를 개선하도록 하여 시큐어 프로그래밍의 학습을 유도한다.
        </p>
        <p class="mb-8pt d-flex"></p>
        <p class="text-50 small mt-n1 mb-0">Copyright 2021 &copy; All rights reserved.</p>
    </div>
</div>