<div id="header" class="mdk-header js-mdk-header mb-0" data-fixed data-effects="">
    <div class="mdk-header__content">

        <!-- Navbar -->
        <div class="navbar navbar-expand pr-0 navbar-dark-pickled-bluewood navbar-shadow"
             id="default-navbar" data-primary>

            <!-- Navbar Toggler -->
            <button class="navbar-toggler w-auto mr-16pt d-block rounded-0"
                    type="button" data-toggle="sidebar">
                <span class="material-icons">short_text</span>
            </button>
            <!-- // END Navbar Toggler -->


            <!-- Navbar Brand -->
            <a href="/index"
               class="navbar-brand mr-16pt">
                            <span class="avatar avatar-sm navbar-brand-icon mr-0 mr-lg-8pt">
                                <span class="avatar-title rounded bg-primary">
                                    <img th:src="@{/public/images/illustration/student/128/white.svg}"
                                         alt="logo" class="img-fluid" />
                                </span>
                            </span>
                <span class="d-none d-lg-block">DPS</span>
            </a>
            <!-- // END Navbar Brand -->

            <div class="flex"></div>

            <!-- Navbar Menu -->
            <div class="nav navbar-nav flex-nowrap d-flex mr-16pt">

                <!-- Notifications dropdown -->
                <div class="nav-item dropdown dropdown-notifications dropdown-xs-down-full" data-toggle="tooltip" data-title="Messages" data-placement="bottom" data-boundary="window" data-original-title="" title="">
                    <a href="login"><span style="color:white;">로그인</span></a>
                </div>
                <!-- // END Notifications dropdown -->

                <!-- Notifications dropdown -->
                <div class="nav-item ml-16pt dropdown dropdown-notifications dropdown-xs-down-full" data-toggle="tooltip" data-title="Notifications" data-placement="bottom" data-boundary="window" data-original-title="" title="">
                    <a href="login"><span style="color:white;">회원가입</span></a>
                </div>
                <!-- // END Notifications dropdown -->

            </div>
            <!--  // END Navebar Menu -->
        </div>
        <!-- // END Navbar -->
    </div>
</div>