<div id="header" class="mdk-header js-mdk-header mb-0" data-fixed data-effects="">
    <div class="mdk-header__content">

        <!-- Navbar -->
        <div class="navbar navbar-expand pr-0 navbar-dark-pickled-bluewood navbar-shadow"
             id="default-navbar" data-primary>

            <div style="width: 30px;"></div>

            <!-- Navbar Brand -->
            <a href="/"
               class="navbar-brand mr-16pt">
                            <span class="avatar avatar-sm navbar-brand-icon mr-0 mr-lg-8pt">
                                <span class="avatar-title rounded bg-primary">
                                    <img th:src="@{/public/images/illustration/student/128/white.svg}"
                                         alt="logo" class="img-fluid" />
                                </span>
                            </span>
                <span class="d-none d-lg-block">DPS</span>
            </a>

            <div class="flex"></div>

            <div class="nav navbar-nav flex-nowrap d-flex mr-16pt">


                <div class="nav-item ml-16pt dropdown dropdown-notifications dropdown-xs-down-full" data-toggle="tooltip" data-title="" data-placement="bottom" data-boundary="window" data-original-title="" title="">
                    <a sec:authorize="isAnonymous()" href="/members/"><span style="color:white;">로그인&nbsp;/&nbsp;회원가입</span></a>
                    <a sec:authorize="isAuthenticated()" href="/members/logout"><span style="color:white;">로그아웃</span></a>
                </div>

            </div>

            <div style="width: 30px;"></div>

        </div>

    </div>
</div>