<script th:src="@{/public/vendor/jquery.min.js}"></script>
<script th:src="@{/public/vendor/popper.min.js}"></script>
<script th:src="@{/public/vendor/bootstrap.min.js}"></script>
<script th:src="@{/public/vendor/perfect-scrollbar.min.js}"></script>
<script th:src="@{/public/vendor/dom-factory.js}"></script>
<script th:src="@{/public/vendor/material-design-kit.js}"></script>
<script th:src="@{/public/js/app.js}"></script>
<script th:src="@{/public/js/preloader.js}"></script>
<script th:src="@{/public/vendor/jquery.bootstrap-touchspin.js}"></script>
<script th:src="@{/public/js/touchspin.js}"></script>
<script th:src="@{/public/vendor/moment.min.js}"></script>
<script th:src="@{/public/vendor/daterangepicker.js}"></script>
<script th:src="@{/public/js/daterangepicker.js}"></script>
<script th:src="@{/public/vendor/jquery.mask.min.js}"></script>
<script th:src="@{/public/vendor/quill.min.js}"></script>
<script th:src="@{/public/js/quill.js}"></script>
<script th:src="@{/public/vendor/select2/select2.min.js}"></script>
<script th:src="@{/public/js/select2.js}"></script>