<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>DPS</title>

  <meta name="robots" content="noindex">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700%7CRoboto:400,500%7CExo+2:600&display=swap"
        rel="stylesheet">
  <link type="text/css" th:href="@{/public/vendor/spinkit.css}" rel="stylesheet">
  <link type="text/css" th:href="@{/public/vendor/perfect-scrollbar.css}" rel="stylesheet">
  <link type="text/css" th:href="@{/public/css/material-icons.css}" rel="stylesheet">
  <link type="text/css" th:href="@{/public/css/fontawesome.css}" rel="stylesheet">
  <link type="text/css" th:href="@{/public/css/preloader.css}" rel="stylesheet">
  <link type="text/css" th:href="@{/public/css/app.css}" rel="stylesheet">
</head>