<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" dir="ltr">

<th:block th:replace="fragments/styles"/>

<body class="layout-sticky-subnav layout-default ">

<th:block th:replace="fragments/preloader"/>

<div class="mdk-header-layout js-mdk-header-layout">

    <th:block th:replace="fragments/navbar"/>

    <!-- Header Layout Content -->
    <div class="mdk-header-layout__content page-content ">

        <div class="pt-32pt">
            <div
                    class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
                <div class="flex d-flex flex-column flex-sm-row align-items-center">

                    <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                        <ol class="breadcrumb p-0 m-0">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active">Report</li>
                        </ol>
                        <h2 class="mb-0" th:text="${scenario.title}"></h2>
                    </div>
                </div>

            </div>
        </div>

        <div class="container page__container page-section">

            <div class="page-separator">
                <div class="page-separator__text">시나리오 보안 검사 실패 통계</div>
            </div>
            <div class="row mb-lg-8pt">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body p-24pt">
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-8">
                                    <div id="pie-chart"></div>
                                </div>
                                <div class="col-lg-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="page-separator">
                <div class="page-separator__text">인증 기록</div>
            </div>

            <div class="card mb-0">
                <div data-toggle="lists"
                     data-lists-values='[
                          "js-lists-values-course",
                          "js-lists-values-revenue",
                          "js-lists-values-fees"
                     ]'
                     data-lists-sort-by="js-lists-values-revenue"
                     data-lists-sort-desc="true" class="table-responsive">
                    <table class="table table-nowrap table-flush">
                        <thead>
                        <tr class="text-uppercase small">
                            <th class="text-center" style="width: 200px">
                                <a href="javascript:void(0)">인증 일시</a></th>
                            <th class="text-center"><a href="javascript:void(0)">스테이지</a></th>
                            <th class="text-center" style="width: 200px">
                                <a href="javascript:void(0)">기능 검사</a></th>
                            <th class="text-center" style="width: 200px">
                                <a href="javascript:void(0)">보안 검사</a></th>
                        </tr>
                        </thead>

                        <tbody class="list">

                            <tr th:each="stageLog : ${member.getStageLogList}">
                                <td class="text-center text-70">
                                    <span th:text="${#temporals.format(stageLog.createTime, 'yyyy-MM-dd HH:mm')}"></span>
                                </td>
                                <td>
                                    <div class="media flex-nowrap align-items-center">
                                        <div class="media-body">
                                            <a class="text-body js-lists-values-course"
                                               th:href="|/scenarios/${scenario.subTitle}/report/detail/${stageLog.id}|">
                                                <strong th:text="|Stage.${stageLog.stage.no} - ${stageLog.stage.title}|"></strong>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <th:block th:with="testCategoryLogList = ${stageLog.getTestCategoryLogList}">
                                    <td th:each="testCategoryLog : ${testCategoryLogList}"  class="text-center text-70">
                                        <th:block th:if="${testCategoryLog.result == validResultEnum[0]}">
                                            <span th:text="|통과 (${testCategoryLog.testScenarioPassCount} / ${testCategoryLog.testScenarioCount})|"></span>
                                        </th:block>
                                        <th:block th:if="${testCategoryLog.result == validResultEnum[1]}">
                                            <span th:text="|실패 (${testCategoryLog.testScenarioPassCount} / ${testCategoryLog.testScenarioCount})|" style="color:red;"></span>
                                        </th:block>
                                    </td>
                                </th:block>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- // END Header Layout Content -->

    <th:block th:replace="fragments/footer"/>

</div>



<th:block th:replace="fragments/scripts"/>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>


<script th:inline="javascript">

/*<![CDATA[*/

Highcharts.chart('pie-chart', {
    chart: {
        type: 'pie'
    },
    title: {
        text: '취약점별 검사 실패 횟수',
        style: {
            fontWeight: 'bold'
        }
    },
    subtitle: {
        text: '영역을 클릭하시면 스테이지별 통계를 확인할 수 있습니다.',
    },

    accessibility: {
        announceNewData: {
            enabled: true
        },
        point: {
            valueSuffix: '%'
        }
    },

    plotOptions: {
        series: {
            dataLabels: {
                enabled: true,
                format: '{point.name}: {point.y}번'
            }
        }
    },

    tooltip: {
        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}번</b> of total<br/>'
    },

    series: [
        {
            name: "취약점",
            colorByPoint: true,
            data: [
            /*[# th:each="map : ${secureCheckCountMap}"]*/
                {
                    name: /*[[${map.key}]]*/,
                    y: /*[[${map.value}]]*/,
                    drilldown: /*[[${map.key}]]*/
                },
            /*[/]*/
            ]
        }
    ],
    drilldown: {
        series: [
            /*[# th:each="statistic : ${statistics}"]*/
                {
                    name: /*[[${statistic.key}]]*/,
                    id: /*[[${statistic.key}]]*/,
                    data: [
                        /*[# th:each="map : ${statistic.value}"]*/
                            [ /*[[${map.key}]]*/, /*[[${map.value}]]*/ ],
                        /*[/]*/
                    ]
                },
            /*[/]*/
        ]
    }
});


/*]]*/

</script>

</body>
</html>