<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" dir="ltr">

<th:block th:replace="fragments/styles"/>
<style>
    .custom-control-label:before,
    .custom-control-label:after {
        display: none;
    }
</style>


<body class="layout-sticky-subnav layout-default ">

<th:block th:replace="fragments/preloader"/>

<div class="mdk-header-layout js-mdk-header-layout">

    <th:block th:replace="fragments/navbar"/>

    <!-- Header Layout Content -->
    <div class="mdk-header-layout__content page-content "
        th:with="scenario=${scenarioDto}, stage=${stageDto}">

        <div class="navbar navbar-list navbar-light bg-white border-bottom-2 border-bottom navbar-expand-sm"
             style="white-space: nowrap;">
            <div class="container page__container">
                <nav class="nav navbar-nav">
                    <div class="nav-item navbar-list__item">
                        <a th:href="|/scenarios/${scenario.subTitle}|"
                           class="nav-link h-auto"><i class="material-icons icon--left">keyboard_backspace</i> Back to
                            Course</a>
                    </div>
                    <div class="nav-item navbar-list__item">
                        <div class="d-flex align-items-center flex-nowrap">
                            <div class="mr-16pt">
                                <a href="student-take-course.html"/>
                            </div>
                            <div class="flex">
                                <a href="student-take-course.html"
                                   class="card-title text-body mb-0" th:text="${scenario.title}">커뮤니티 만들기</a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <div class="bg-primary pb-lg-64pt py-32pt">
            <div class="container page__container">
                <nav class="course-nav">
                    <a href="#" data-toggle="tooltip" data-placement="bottom" data-title="Getting Started with Angular: Introduction" data-original-title="" title=""><span class="material-icons">done</span></a>
                    <a href="#" data-toggle="tooltip" data-placement="bottom" data-title="Getting Started with Angular: Introduction to TypeScript" data-original-title="" title=""><span class="material-icons">account_circle</span></a>
                    <a href="#" data-toggle="tooltip" data-placement="bottom" data-title="Getting Started with Angular: Comparing Angular to AngularJS" data-original-title="" title=""><span class="material-icons">fullscreen</span></a>
                    <a href="#" data-toggle="tooltip" data-placement="bottom" data-title="Quiz: Getting Started with Angular" data-original-title="" title=""><span class="material-icons text-primary">fullscreen</span></a>
                </nav>

                <div class="d-flex flex-wrap align-items-end justify-content-end mb-16pt">
                    <h1 class="text-white flex m-0">회원가입 및 로그인</h1>
                </div>

                <p class="hero__lead measure-hero-lead text-white-50">아래의 요구사항에 따라 페이지를 제작하고 제출해주세요.</p>
            </div>
        </div>

        <div class="navbar navbar-expand-sm navbar-light bg-white border-bottom-2 navbar-list p-0 m-0 align-items-center">
            <div class="container page__container">
                <ul class="nav navbar-nav flex align-items-sm-center">
                    <li class="nav-item navbar-list__item">
                        <div class="media align-items-center">
                            <span class="media-left mr-16pt">
                                <img th:src="@{/public/images/people/50/guy-6.jpg}"
                                     width="40"
                                     alt="avatar"
                                     class="rounded-circle">
                            </span>
                            <div class="media-body">
                                <a class="card-title m-0"
                                   href="teacher-profile.html">Eddie Bryan</a>
                                <p class="text-50 lh-1 mb-0">Produced by</p>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item navbar-list__item">
                        <i class="material-icons text-muted icon--left">assessment</i>
                        Beginner
                    </li>
                    <li class="nav-item ml-sm-auto text-sm-center flex-column navbar-list__item">
                        <div class="rating rating-24">
                            <div class="rating__item"><i class="material-icons">star</i></div>
                            <div class="rating__item"><i class="material-icons">star</i></div>
                            <div class="rating__item"><i class="material-icons">star</i></div>
                            <div class="rating__item"><i class="material-icons">star</i></div>
                            <div class="rating__item"><i class="material-icons">star_border</i></div>
                        </div>
                        <p class="lh-1 mb-0"><small class="text-muted">20 ratings</small></p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="page-section">
            <div class="container page__container">
                <div class="page-separator">
                    <div class="page-separator__text">회원가입</div>
                </div>
                <div class="row mb-0">
                    <div class="col-lg-7">
                        <div class="card mb-lg-0">
                            <div class="card-header d-flex align-items-center">
                                <strong class="flex">요구사항</strong>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled list-todo">
                                    <li>
                                        <div class="custom-control custom-checkbox" style="padding-left: 1rem;">
                                            <label class="custom-control-label">URL 페이지명은 signUp_check로 고정한다.</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-control custom-checkbox" style="padding-left: 1rem;">
                                            <label class="custom-control-label">중복된 아이디로 회원가입이 되면 안된다.</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-control custom-checkbox" style="padding-left: 1rem;">
                                            <label class="custom-control-label">비밀번호는 영어, 숫자, 특수문자가 하나 이상씩 포함되어야 한다.</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-control custom-checkbox" style="padding-left: 1rem;">
                                            <label class="custom-control-label">비밀번호는 최소 9자 이상이어야 한다.</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-control custom-checkbox" style="padding-left: 1rem;">
                                            <label class="custom-control-label">비밀번호의 특수문자는 !@#$%^&*가 보장되어야 한다.</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5">
                        <div class="page-separator">
                            <div class="page-separator__text">입력 데이터</div>
                        </div>
                        <ul class="list-unstyled">
                            <li class="d-flex align-items-center">
                                <span class="material-icons text-50 mr-8pt">chevron_right</span>
                                <span class="text-70">아이디: id</span>
                            </li>
                            <li class="d-flex align-items-center">
                                <span class="material-icons text-50 mr-8pt">chevron_right</span>
                                <span class="text-70">비밀번호: passwd</span>
                            </li>
                        </ul>
                        </br>
                        <div class="page-separator">
                            <div class="page-separator__text">수행 결과</div>
                        </div>
                        <ul class="list-unstyled">
                            <li class="d-flex align-items-center">
                                <span class="material-icons text-50 mr-8pt">chevron_right</span>
                                <span class="text-70">&lt;any id='result'&gt;[회원가입 성공 여부]&lt;/any&gt;</span>
                            </li>
                            <li class="d-flex align-items-center">
                                <span class="material-icons text-50 mr-8pt">chevron_right</span>
                                <span class="text-70">[회원가입 성공 여부]: Success/Fail</span>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="page-section">
            <div class="container page__container">
                <div class="page-separator">
                    <div class="page-separator__text">로그인</div>
                </div>
                <div class="row mb-0">
                    <div class="col-lg-7">
                        <div class="card mb-lg-0">
                            <div class="card-header d-flex align-items-center">
                                <strong class="flex">요구사항</strong>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled list-todo">
                                    <li>
                                        <div class="custom-control custom-checkbox" style="padding-left: 1rem;">
                                            <label class="custom-control-label">URL 페이지명은 login_check로 고정한다.</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-control custom-checkbox" style="padding-left: 1rem;">
                                            <label class="custom-control-label">로그인은 회원가입에 성공한 계정으로만 가능하다.</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-control custom-checkbox" style="padding-left: 1rem;">
                                            <label class="custom-control-label"></label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-control custom-checkbox" style="padding-left: 1rem;">
                                            <label class="custom-control-label"></label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-5">
                        <div class="page-separator">
                            <div class="page-separator__text">입력 데이터</div>
                        </div>
                        <ul class="list-unstyled">
                            <li class="d-flex align-items-center">
                                <span class="material-icons text-50 mr-8pt">chevron_right</span>
                                <span class="text-70">아이디: id</span>
                            </li>
                            <li class="d-flex align-items-center">
                                <span class="material-icons text-50 mr-8pt">chevron_right</span>
                                <span class="text-70">비밀번호: passwd</span>
                            </li>
                        </ul>
                        </br>
                        <div class="page-separator">
                            <div class="page-separator__text">수행 결과</div>
                        </div>
                        <ul class="list-unstyled">
                            <li class="d-flex align-items-center">
                                <span class="material-icons text-50 mr-8pt">chevron_right</span>
                                <span class="text-70">&lt;any id='result'&gt;[로그인 성공 여부]&lt;/any&gt;</span>
                            </li>
                            <li class="d-flex align-items-center">
                                <span class="material-icons text-50 mr-8pt">chevron_right</span>
                                <span class="text-70">[로그인 성공 여부]: Success/Fail</span>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="page-section border-bottom-2">
            <div class="container page__container">
                <div class="page-separator">
                    <div class="page-separator__text">주의사항</div>
                </div>
                <div class="">
                    <p>※ 수행 결과에 표기된 any 태그는 실제로 존재하는 것이 아닙니다. 임의의 태그로 대체하여 사용하세요.</p>
                    <p>※ 결과는 Redirect 시켜서 보여주면 안됩니다. 페이지 내에서 보여주세요.</p>
                </div>
            </div>
        </div>

        <div class="page-section bg-alt border-bottom-2">
            <div class="container page__container">
                <div class="row mb-32pt">
                    <div class="col-lg-5">
                        <div class="page-separator">
                            <div class="page-separator__text">제출</div>
                        </div>
                        <p class="card-subtitle text-70 mb-16pt mb-lg-0">
                            제출 시 채점이 수행되며, 채점 기록은 삭제할 수 없습니다.</br>
                            채점 통과 시에만 다음 스테이지로 이동할 수 있습니다.</br>
                            채점 통과 여부와 상관 없이 해당 스테이지는 언제든 재시도할 수 있습니다.
                        </p>
                    </div>
                    <div class="col-lg-7 d-flex align-items-center">
                        <div class="flex" style="max-width: 100%">
                            <form method="post" th:action="@{/scenarios/Simple-Community-Board/stages/1/solve}">
                                <div class="form-group">
                                    <label class="form-label" for="targetUrl">Your Answer:</label>
                                    <input type="password" class="form-control" id="targetUrl" name="targetUrl" placeholder="Enter your Site Domain .. (ex. http://dps.test.com:2021)">
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-section border-bottom-2">

            <div class="container page__container">
                <div class="page-separator">
                    <div class="page-separator__text">Student Feedback</div>
                </div>
                <div class="row mb-32pt">
                    <div class="col-md-3 mb-32pt mb-md-0">
                        <div class="display-1">4.7</div>
                        <div class="rating rating-24">
                            <span class="rating__item"><span class="material-icons">star</span></span>
                            <span class="rating__item"><span class="material-icons">star</span></span>
                            <span class="rating__item"><span class="material-icons">star</span></span>
                            <span class="rating__item"><span class="material-icons">star</span></span>
                            <span class="rating__item"><span class="material-icons">star_border</span></span>
                        </div>
                        <p class="text-muted mb-0">20 ratings</p>
                    </div>
                    <div class="col-md-9">

                        <div class="row align-items-center mb-8pt"
                             data-toggle="tooltip"
                             data-title="75% rated 5/5"
                             data-placement="top">
                            <div class="col-md col-sm-6">
                                <div class="progress"
                                     style="height: 8px;">
                                    <div class="progress-bar bg-secondary"
                                         role="progressbar"
                                         aria-valuenow="75"
                                         style="width: 75%"
                                         aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-md-auto col-sm-6 d-none d-sm-flex align-items-center">
                                <div class="rating">
                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center mb-8pt"
                             data-toggle="tooltip"
                             data-title="16% rated 4/5"
                             data-placement="top">
                            <div class="col-md col-sm-6">
                                <div class="progress"
                                     style="height: 8px;">
                                    <div class="progress-bar bg-secondary"
                                         role="progressbar"
                                         aria-valuenow="16"
                                         style="width: 16%"
                                         aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-md-auto col-sm-6 d-none d-sm-flex align-items-center">
                                <div class="rating">
                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                    <span class="rating__item"><span class="material-icons">star_border</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center mb-8pt"
                             data-toggle="tooltip"
                             data-title="12% rated 3/5"
                             data-placement="top">
                            <div class="col-md col-sm-6">
                                <div class="progress"
                                     style="height: 8px;">
                                    <div class="progress-bar bg-secondary"
                                         role="progressbar"
                                         aria-valuenow="12"
                                         style="width: 12%"
                                         aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-md-auto col-sm-6 d-none d-sm-flex align-items-center">
                                <div class="rating">
                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                    <span class="rating__item"><span class="material-icons">star_border</span></span>
                                    <span class="rating__item"><span class="material-icons">star_border</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center mb-8pt"
                             data-toggle="tooltip"
                             data-title="9% rated 2/5"
                             data-placement="top">
                            <div class="col-md col-sm-6">
                                <div class="progress"
                                     style="height: 8px;">
                                    <div class="progress-bar bg-secondary"
                                         role="progressbar"
                                         aria-valuenow="9"
                                         style="width: 9%"
                                         aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-md-auto col-sm-6 d-none d-sm-flex align-items-center">
                                <div class="rating">
                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                    <span class="rating__item"><span class="material-icons">star_border</span></span>
                                    <span class="rating__item"><span class="material-icons">star_border</span></span>
                                    <span class="rating__item"><span class="material-icons">star_border</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center mb-8pt"
                             data-toggle="tooltip"
                             data-title="0% rated 0/5"
                             data-placement="top">
                            <div class="col-md col-sm-6">
                                <div class="progress"
                                     style="height: 8px;">
                                    <div class="progress-bar bg-secondary"
                                         role="progressbar"
                                         aria-valuenow="0"
                                         aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-md-auto col-sm-6 d-none d-sm-flex align-items-center">
                                <div class="rating">
                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                    <span class="rating__item"><span class="material-icons">star_border</span></span>
                                    <span class="rating__item"><span class="material-icons">star_border</span></span>
                                    <span class="rating__item"><span class="material-icons">star_border</span></span>
                                    <span class="rating__item"><span class="material-icons">star_border</span></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="pb-16pt mb-16pt border-bottom row">
                    <div class="col-md-3 mb-16pt mb-md-0">
                        <div class="d-flex">
                            <a href="student-profile.html"
                               class="avatar avatar-sm mr-12pt">
                                <!-- <img src="LB" alt="avatar" class="avatar-img rounded-circle"> -->
                                <span class="avatar-title rounded-circle">LB</span>
                            </a>
                            <div class="flex">
                                <p class="small text-muted m-0">2 days ago</p>
                                <a href="student-profile.html"
                                   class="card-title">Laza Bogdan</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="rating mb-8pt">
                            <span class="rating__item"><span class="material-icons">star</span></span>
                            <span class="rating__item"><span class="material-icons">star</span></span>
                            <span class="rating__item"><span class="material-icons">star</span></span>
                            <span class="rating__item"><span class="material-icons">star</span></span>
                            <span class="rating__item"><span class="material-icons">star_border</span></span>
                        </div>
                        <p class="text-70 mb-0">A wonderful course on how to start. Eddie beautifully conveys all
                            essentials of a becoming a good Angular developer. Very glad to have taken this course.
                            Thank you Eddie Bryan.</p>
                    </div>
                </div>

                <div class="pb-16pt mb-16pt border-bottom row">
                    <div class="col-md-3 mb-16pt mb-md-0">
                        <div class="d-flex">
                            <a href="student-profile.html"
                               class="avatar avatar-sm mr-12pt">
                                <!-- <img src="UK" alt="avatar" class="avatar-img rounded-circle"> -->
                                <span class="avatar-title rounded-circle">UK</span>
                            </a>
                            <div class="flex">
                                <p class="small text-muted m-0">2 days ago</p>
                                <a href="student-profile.html"
                                   class="card-title">Umberto Klass</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="rating mb-8pt">
                            <span class="rating__item"><span class="material-icons">star</span></span>
                            <span class="rating__item"><span class="material-icons">star</span></span>
                            <span class="rating__item"><span class="material-icons">star</span></span>
                            <span class="rating__item"><span class="material-icons">star</span></span>
                            <span class="rating__item"><span class="material-icons">star_border</span></span>
                        </div>
                        <p class="text-70 mb-0">This course is absolutely amazing, Bryan goes* out of his way to really
                            expl*ain things clearly I couldn&#39;t be happier, so glad I made this purchase!</p>
                    </div>
                </div>

                <div class="pb-16pt mb-24pt row">
                    <div class="col-md-3 mb-16pt mb-md-0">
                        <div class="d-flex">
                            <a href="student-profile.html"
                               class="avatar avatar-sm mr-12pt">
                                <!-- <img src="AD" alt="avatar" class="avatar-img rounded-circle"> -->
                                <span class="avatar-title rounded-circle">AD</span>
                            </a>
                            <div class="flex">
                                <p class="small text-muted m-0">2 days ago</p>
                                <a href="student-profile.html"
                                   class="card-title">Adrian Demian</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="rating mb-8pt">
                            <span class="rating__item"><span class="material-icons">star</span></span>
                            <span class="rating__item"><span class="material-icons">star</span></span>
                            <span class="rating__item"><span class="material-icons">star</span></span>
                            <span class="rating__item"><span class="material-icons">star</span></span>
                            <span class="rating__item"><span class="material-icons">star_border</span></span>
                        </div>
                        <p class="text-70 mb-0">This course is absolutely amazing, Bryan goes* out of his way to really
                            expl*ain things clearly I couldn&#39;t be happier, so glad I made this purchase!</p>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <!-- // END Header Layout Content -->


    <th:block th:replace="fragments/footer"/>

</div>

<th:block th:replace="fragments/drawer"/>

<th:block th:replace="fragments/scripts"/>

</body>

</html>