<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" dir="ltr">

<th:block th:replace="fragments/styles"/>

<body class="layout-sticky-subnav layout-default ">

<th:block th:replace="fragments/preloader"/>

<div class="mdk-header-layout js-mdk-header-layout">

    <th:block th:replace="fragments/navbar"/>

    <!-- Header Layout Content -->
    <div class="mdk-header-layout__content page-content ">

        <div class="navbar navbar-list navbar-light bg-white border-bottom-2 border-bottom navbar-expand-sm"
             style="white-space: nowrap;">
            <div class="container page__container">
                <nav class="nav navbar-nav">
                    <div class="nav-item navbar-list__item">
                        <a href="javascript:history.back();"
                           class="nav-link h-auto"><i class="material-icons icon--left">keyboard_backspace</i> Back</a>
                    </div>
                    <div class="nav-item navbar-list__item">
                        <div class="d-flex align-items-center flex-nowrap">
                            <div class="flex">
                                <a href="javascript:history.back();"
                                   class="card-title text-body mb-0">돌아가기</a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <div class="bg-primary pb-lg-64pt py-32pt">
            <div class="container page__container">
                <div class="d-flex flex-wrap align-items-end justify-content-end mb-16pt">
                    <h1 class="text-white flex m-0">SQL Injection 취약점</h1>
                </div>
            </div>
        </div>


        <div class="page-section">
            <div class="container page__container">
                <div class="page-separator">
                    <div class="page-separator__text">발생 원인 (PHP 기준)</div>
                </div>
                <div>
                    <ul>
                        <li>Sql 쿼리문을 string으로 concat 하여 만들기 때문에 발생한다. (아래의 예를 참조)</li>
                        <li>ex) <code>$sql = "select * from member where id='$_POST['id']' and
                            pass='$_POST['pass']'";</code></li>
                        <li>위의 예와 같이 사용자의 값이 쿼리에 concat 되어 Sql 구문을 완성하고 이를 실행 시키게 되면 </br> 유저의 입력 값이 Sql 쿼리문에 영향을 주게 되고 이로 인해
                            개발자가 의도하지 않은 방향대로 쿼리를 조작 가능하다.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="page-section">
            <div class="container page__container">
                <div class="page-separator">

                    <div class="page-separator__text">패치 방법</div>

                </div>
                <div>
                    <ul>
                        <li>1). 개발자가 의도한 사용자의 입력 값은 쿼리문에 영향이 가는 입력 값이 아닌 순수한 문자열 값이다. 따라서 사용자가 입력한 특수 문자들 (', " ,\ 등)이
                            쿼리문에
                            영향을 줄 수 없도록 유저들의 입력 값에 addslashes 혹은 mysqli_real_escape_string등 입력 값의 특수 문자들을 escape 하는 함수를
                            적용한다.
                        </li>
                        <li>2). 최근에는 유저의 입력 값이 Sql 쿼리문 자체에 영향을 줄 수 없도록 하는 repared statement 함수가 제공되고 있다. 해당 기능을 이용하면
                            addslashes, mysqli_real_escape_string 함수의 도움 없이도 사용자의 입력 값이 escape 되어 문자열 값으로 인식 된다.
                        </li>
                        <li>3). 위의 1), 2) 방법이 효과적으로 Sql 인젝션 공격 기법을 방어하는 점은 사실이지만 위 방법을 이용해도 Sql 인젝션 공격을 방어하지 못하는 경우가 있다.
                            이는
                            아래의 코드와 같이 '' 로 입력 값을 둘러 싸지 않아서 발생 되는 경우로 이 경우에는 입력 값을 escape 해도 Sql 쿼리문을 조작 할 수 있게 된다.
                        </li>
                        <li><code>$sql = "select * from member where no=$_POST['no']";</code></li>
                        <li>위의 예제와 같은 경우 '' 값이 없어 유저의 입력값이 자유롭게 sql 쿼리문을 조작 할 수 있게 된다. 따라서 위와 같은 경우에 대해서 Sql 인젝션 공격 기법을
                            방어
                            하기 위해서는 Sql 쿼리문에 사용 되는 주요 키워드 (or, and, select, union 등) 들을 따로 필터해야만 한다.
                        </li>
                        <li>ex) <code>if(preg_match('/prob|_|\.|proc|union|sleep|benchmark/i', $_POST[no])) exit("No
                            Hack
                            ~_~");</code></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="page-section">
            <div class="container page__container">
                <div class="page-separator">
                    <div class="page-separator__text">출처</div>
                </div>
                <div>
                    <ul>
                        <li>2019 한국 인터넷 진흥원 소프트웨어 개발 보안 가이드 p148 참고</li>
                        <li>2019 행안부 한국인터넷 진흥원 소프트웨어 보안약점 진단가이드 p178 참고</li>
                        <li>OWASP top 10 2017 pdf 파일 p7 참조</li>
                        <li>국정원 8대 취약점 참고</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- // END Header Layout Content -->

    <th:block th:replace="fragments/footer"/>

</div>

<th:block th:replace="fragments/drawer"/>

<th:block th:replace="fragments/scripts"/>

</body>

</html>